/*global*/
@font-face {
	font-family: "Gilroy-Medium";
	src: local("Gilroy-Medium"), url("./fonts/gilroy-medium/gilroy-medium.woff2") format("woff2"),
		url("./fonts/gilroy-medium/gilroy-medium.woff") format("woff"),
		url("./fonts/gilroy-medium/gilroy-medium.ttf") format("truetype"),
		url("./fonts/gilroy-medium/gilroy-medium.svg#gilroy-medium") format("svg"),
		url("./fonts/gilroy-medium/gilroy-medium.eot") format("eot"),
		url("./fonts/gilroy-medium/gilroy-medium.eot?#iefix") format("embedded-opentype"); /* IE < 9 */
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy-Bold";
	src: local("Gilroy-Bold"), url("./fonts/gilroy-bold/gilroy-bold.woff2") format("woff2"),
		url("./fonts/gilroy-bold/gilroy-bold.woff") format("woff"),
		url("./fonts/gilroy-bold/gilroy-bold.ttf") format("truetype"),
		url("./fonts/gilroy-bold/gilroy-bold.svg#gilroy-bold") format("svg"),
		url("./fonts/gilroy-bold/gilroy-bold.eot") format("eot"),
		url("./fonts/gilroy-bold/gilroy-bold.eot?#iefix") format("embedded-opentype");
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	color: #070707;
	font: 18px/22px "Gilroy-Medium", sans-serif;
	text-align: center;
}

h1,
h2,
h3 {
	font-family: "Gilroy-Bold", sans-serif;
}

/* fonts */
h1 {
	font-size: 2.5rem;
	line-height: 3.2rem;
}

h2 {
	font-size: 2rem;
}

.header__nav span {
	font-size: 1.2rem;
}
/* === */

a {
	text-decoration: none;
	color: inherit;
}

header,
.header__nav,
.hero__info,
.skill__gallery,
.contacts__social,
.skills_stars {
	display: flex;
	justify-content: space-between;
}

.hero__lang,
.dropdown__lang,
.contacts__formcard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.active-color,
.contacts__social-desc {
	color: #828282;
}

.aboutme,
.portfolio {
	background-color: #f6f6f6;
}

.is-close:hover,
.is-show:hover,
a:hover,
.lang:hover,
button:hover,
.skill__arrow:hover,
.carousel-switch__element:hover,
.tools:hover {
	cursor: pointer;
	opacity: 0.8;
}

.is-close {
	width: 23px;
}

.dropdown-btns,
.hero .is-show,
.contacts__formcard.is-hidden {
	display: none;
}

.header,
.contacts__social,
.tools figure,
.skills_stars {
	margin: auto;
}
/* COMPONENTS */

/* language switcher */
.lang {
	display: inline-block;
	transform-origin: center;
	transform: rotate(-90deg);
	margin: 0;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: start;
}

.lang_ru {
	margin: 30px 0 0 0;
}

.lang.active-color {
	padding: 5px 0 0 0;
	border-top: 5px solid #000;
}

/*carousel*/
.skill__container {
	overflow: scroll;
	/* check "smooth" value */
	scroll-behavior: smooth;
	align-items: center;
}

/* TODO: check if prefix is supported */
.skill__container::-webkit-scrollbar {
	width: 0;
}

.skill__gallery figure {
	width: 250px;
}

/* contacts */
.contacts p:not(:last-child) {
	margin: 30px 0;
}

button {
	height: 40px;
	width: 250px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	background: #070707;
	color: #ffffff;
}

.contacts__social {
	max-width: 350px;
	padding: 100px 0 60px 0;
}

.contacts__social img {
	width: 40px;
}

/* form */
.contacts__formcard {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 80vw;
	padding: 40px;
	opacity: 0.99;
	background-color: #fff;
}

.contacts .is-close {
	position: absolute;
	top: 40px;
	right: 40px;
}

.contacts__formcard h2 {
	margin: 0 0 40px 0;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"name addr"
		"question question"
		"submit submit";
	width: 100%;
}
input,
textarea {
	font: inherit;
	padding-left: 10px;
}

textarea {
	padding-top: 10px;
}

[data-i18n="name"] {
	grid-area: name;
	height: 50px;
	margin-right: 10px;
}

[data-i18n="address"] {
	grid-area: addr;
	height: 50px;
	margin-left: 10px;
}

[data-i18n="letter"] {
	grid-area: question;
	height: 200px;
	margin-top: 20px;
	overflow: scroll;
	scroll-behavior: "smooth";
}

[data-i18n="contacts__send"] {
	grid-area: submit;
	margin: 20px auto;
}

/* details */
header {
	padding: 0 calc((100% - 1290px) / 2);
}
section {
	padding: 75px calc((100% - 1290px) / 2);
}

.header__nav {
	width: 100%;
	padding: 32px 0 40px 0;
	border-bottom: 1px solid #828282;
}

.hero__info {
	align-items: flex-end;
	text-align: start;
}

.hero__main-img img {
	object-fit: cover;
	width: 100%;
	margin: 50px 0 0;
}

.aboutme p,
.skill__gallery {
	margin: 30px 0 0 0;
}

.skills {
	position: relative;
}

.skills p {
	margin: 30px 0 60px 0;
}

.skill__gallery figure img {
	height: 90px;
}

.skill__gallery figcaption {
	margin: 25px 0 40px 0;
	font-size: 1rem;
	color: #828282;
}

.skills_stars {
	width: 100px;
}

.skills_stars img {
	width: 15px;
}

.carousel-switch__element {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin: 60px 60px 0 60px;
	background-color: #f6f6f6;
	border-radius: 100%;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.chosenSwitch {
	background-color: rgba(0, 0, 0, 0.5);
}

.skill__arrow {
	position: absolute;
	z-index: 1;
	color: rgba(0, 0, 0, 0.5);
	font-size: 50px;
}

.skill__arrow-left {
	left: 40px;
	bottom: 40px;
}
.skill__arrow-right {
	right: 240px;
	bottom: 40px;
}

.portfolio__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
	margin: 20px 0 0;
}

.portfolio__example {
	overflow: hidden;
	border: 2px solid #828282;
	border-radius: 20px;
	background-color: #070707;
	color: #828282;
}

.portfolio__example img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.portfolio figcaption {
	padding: 10px;
}

@media screen and (min-width: 300px) and (max-width: 919px) {
	header,
	section {
		padding: 65px 29px;
	}

	.header.is-hidden,
	.hero__lang,
	.skill__arrow,
	.carousel-switch {
		display: none;
	}

	.hero__info,
	.header__nav,
	.hero .is-show {
		display: flex;
		flex-direction: column;
	}

	html {
		font-size: 15px;
		line-height: 19px;
	}

	h1 {
		margin-bottom: 25px;
	}

	.header {
		position: absolute;
		z-index: 1;
		height: 100vh;
		width: 100%;
		background: #fff;
	}

	.header__nav {
		border-bottom: none;
		align-items: flex-start;
		padding: 0;
	}

	.header__nav span {
		font-size: 2rem;
		margin-bottom: 65px;
	}

	.dropdown-btns {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	.hero__mobile {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.hero__info {
		align-items: flex-start;
		padding: 0;
	}

	.hero__main-img img {
		height: 470px;
	}

	.skill__gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		gap: 20px;
	}

	.skills_stars {
		margin: 0 auto 80px auto;
	}

	.contacts__formcard {
		width: 100vw;
		height: 100vh;
	}

	form {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-template-areas:
			"name "
			"addr"
			"question"
			"submit";
	}

	[data-i18n="name"],
	[data-i18n="address"] {
		margin: 10px 0;
	}

	[data-i18n="letter"] {
		height: 150px;
	}
}

@media screen and (min-width: 920px) and (max-width: 1440px) {
	header {
		padding: 0 72px;
	}

	section {
		padding: 72px;
	}

	.skill__arrow-right {
		right: 72px;
	}
}
