@keyframes coin {
	0% {
		transform: scaleX(1.1);
	}
	50% {
		transform: scaleX(0.1);
	}
	100% {
		transform: scaleX(1.1);
	}
}

@keyframes wheel {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes space {
	0% {
		background: initial;
		transform: rotateY(0deg);
	}
	25%,
	75% {
		background: #000;
		transform: rotateY(180deg);
	}

	50% {
		background: url("/public/tools_logo/bg-space.jpg") no-repeat center;
		transform: rotateY(360deg);
	}
}

.icon-js,
.icon-mongoDB,
.icon-TS {
	transition: all 0.5s linear;
}

.icon-layout:hover {
	animation: coin linear 2s infinite;
}

.icon-react:hover {
	animation: wheel 10s linear infinite;
}

/* js */
.icon-js:hover {
	border-radius: 90px;
}

/* python */
.python_tool {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ptoung_head {
	z-index: 10;
}

.hiddenToung {
	position: absolute;
	z-index: 0;
	height: 10px;
	transition: transform 1s;
}

.ptoung_left {
	top: 5%;
	left: 95px;
}

.ptoung_right {
	top: 40%;
	right: 95px;
}

.python_tool:hover .ptoung_left {
	transform: translateX(-8px);
}

.python_tool:hover .ptoung_right {
	transform: translateX(8px);
}

/* git */
.gitShadow {
	position: relative;
}

.gitRound {
	position: absolute;
	border-radius: 100%;
	width: 10px;
	height: 10px;
}

.gitRound1 {
	left: 60px;
	top: 20px;
}

.gitRound2 {
	left: 60px;
	top: 60px;
}

.gitRound3 {
	left: 80px;
	top: 40px;
}

.gitTool:hover .gitRound {
	box-shadow: 0 0 20px 7px white;
}

/* another icons */
.icon-TS:hover,
.icon-php:hover {
	-webkit-filter: drop-shadow(3px 5px 5px #000);
	filter: drop-shadow(3px 5px 5px #000);
}

.mongoDB {
	perspective: 100px;
}

.icon-mongoDB:hover {
	transform: rotateX(180deg) rotateY(50deg);
}

.icon-postgresql:hover {
	animation: space linear 7s infinite;
}
