@keyframes coin {
	0% {
		transform: scaleX(1.1);
	}
	50% {
		transform: scaleX(0.1);
	}
	100% {
		transform: scaleX(1.1);
	}
}

@keyframes wheel {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes shake {
	0%,
	30%,
	60%,
	90% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10%,
	40%,
	70%,
	100% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	20%,
	50%,
	80%,
	95% {
		transform: translate(1px, 2px) rotate(0deg);
	}
}

@keyframes space {
	0% {
		background: initial;
		transform: rotateY(0deg);
	}
	25%,
	75% {
		background: #000;
		transform: rotateY(180deg);
	}

	50% {
		background: url("/public/tools_logo/bg-space.jpg") no-repeat center;
		transform: rotateY(360deg);
	}
}

/* python */
.python_tool {
	position: relative;
}

.ptoung_head img {
	z-index: 10;
}

.ptoung_head::before,
.ptoung_head::after {
	position: absolute;
	display: block;
	z-index: 0;
	width: 30px;
	height: 10px;
}

.ptoung_head::before {
	content: " ";
	top: 5px;
	left: calc(50% - 45px);
	background: url("/public/tools_logo/toung_left.png") no-repeat center;
	background-size: contain;
}

.ptoung_head::after {
	content: " ";
	background: url("/public/tools_logo/toung_right.png") no-repeat center;
	background-size: contain;
	bottom: 55px;
	right: calc(50% - 45px);
}

.ptoung_head:hover::after,
.ptoung_head:hover::before {
	animation: shake linear 0.5s infinite;
}

/* icons */
.icon-js,
.ptoung_head::before,
.ptoung_head::after,
.icon-mongoDB,
.icon-TS {
	transition: all 0.5s linear;
}

.icon-layout:hover {
	animation: coin linear 2s infinite;
}

.icon-react:hover {
	animation: wheel 10s linear infinite;
}

.icon-js:hover {
	border-radius: 90px;
}

.icon-git:hover {
	-webkit-filter: drop-shadow(3px 5px 15px #ff7f50);
	filter: drop-shadow(3px 5px 15px #ff7f50);
}

.icon-TS:hover,
.icon-php:hover {
	-webkit-filter: drop-shadow(3px 5px 5px #000);
	filter: drop-shadow(3px 5px 5px #000);
}

.mongoDB {
	perspective: 100px;
}

.icon-mongoDB:hover {
	transform: rotateX(180deg) rotateY(50deg);
}

.icon-postgresql:hover {
	animation: space linear 7s infinite;
}
